// https://github.com/mkhairi/material-sass
@import "material";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 10px;
  background-color: darkslategrey;
  color: white;
  margin-bottom: 10px;
  text-align: right;
}

.header a {
  color: white;
}

.notice {
  color: green;
}
.alert {
  color: red;
}

.field {
  @extend .form-group;
}

.field input {
  @extend .form-control;
}
.field p {
  padding: 5px;
  font-size: 1.5em;
}
.field p {
  padding: 5px;
  font-size: 1.5em;
}
.link a {
  @extend .btn, .btn-primary;
}
.actions input {
  @extend .btn, .btn-primary;
}
.deviceContainer {
  width: 90%;
  max-width: 420px;
}
.links {
  padding-top: 50px;
}
.destroy {
  @extend .btn, .btn-danger;
}
form {
  margin-bottom: 30px;
}
